{% extends "layout.html" %}
{% block content %}
<div class='content-section'>
<h1>About Project</h1>
<div class='content-section'>
<p>Hi It is Shivam From Class 12, Ch Balbir Singh Public School
    I have created a Multipurpose Website in which we can see a 
    Weather of a city, Total COVID cases of India, Send Emails
<br>
<br>

    This Project is Made using Python Flask Framework, HTML, CSS and Bootstrap
    and Some API's
<br>
<br>
    For Making this Project I have taken Help from 
    Python Documentation, StackOverflow, w3schools,
    youtube, rapidAPI
<br>
<br>
    Whole Code of this Project is Stored on my 
    <a class='folink nav-link' href="https://github.com/shivam907" target="_blank" rel="noopener noreferrer">Github Repository</a>
</p>
</div>
</div>
{% endblock content %}